<div class="container d-flex justify-content-evenly tamanho p-3 ">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/Coca.png" class="card-img-top " alt="...">
        <div class="card-body backcard  ">
          <h5 class="card-title text-dark">Refrigerante Coca Cola Zero Pet 2lt</h5>
          <p class="card-text">R$ 9,99</p>
          <a class="btn btn-dark container-fluid " (click)="Comprar()"  >COMPRE AGORA!</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;  ">
        <img src="../../assets/Doritos.png" class="card-img-top  " alt="...">
        <div class="card-body backcard">
          <h5 class="card-title text-dark">Salgadinho Nacho Original Pacote 140g - Doritos</h5>
          <p class="card-text">R$ 11,65</p>
          <a class="btn btn-dark container-fluid " (click)="Comprar()"  >COMPRE AGORA!</a>
        </div>
      </div>

      
      <div class="card" style="width: 18rem;  ">
        <img src="../../assets/panettone.png" class="card-img-top  " alt="...">
        <div class="card-body backcard">
          <h5 class="card-title text-dark">Panettone Bauducco 500G, Com Frutas</h5>
          <p class="card-text">R$39,90</p>
          <a class="btn btn-dark container-fluid " (click)="Comprar()"  >COMPRE AGORA!</a>
        </div>
      </div>
      
      
</div>